header {
    background-color: #BBBBBB;
    padding: 20px 0 20px 0;
    
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav .menu-principal {
    display: flex;
}

nav .menu {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

footer {
    text-align: center;
    background: url(../imagens/produtos/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width:900px) {
    .caixa {
        width: auto;
        padding: 10px;
    }

    h1 {
        text-align: center;
    }
    nav {
        position: static;
        
    }
    

    nav .menu {
        margin: 5px;
    }
    
    nav a {
        font-size: 20px;
    }

    
}